html,
body {
	text-align: center;
   justify-content: center;
   background-color: #c2c0d9;
}

table {
	display: flex;
	vertical-align: top;
	text-align: left;
	background: white;
	border: 1px black solid;
}
th, td {
	border: 1px black solid;
}

#main-table {
	background: grey;
	border-left: 1px black solid;
	border-top: 1px black solid;
}
.main-column {
	border-right: 1px black solid;
	border-bottom: 1px black solid;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
}
.dividing {	
	border-right: 1px black solid;
}
